.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
    border: none;
    outline: none;
    padding: 10px 45px;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}