.form-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #F0F0F0;
    // padding: 20px 0;

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        min-height: 90vh;
        height: 100%;
        background-color: white;
        // padding: 20px 0;
        border: 1px solid blue;

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid red;
            padding: 10px;
            width: 40%;
            min-height: 100%;
            height: 100%;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
                // min-height: 100%;
                width: 100%;
                height:100%;
                background-size: cover;
                background-position: center center;
            }
        }

        .form-area {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 60%;
            min-height: 100%;
            height: 100%;
            border: 1px solid red;
            // padding: 20px 0;

            .form-content {
                width: 70%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;
                // border: 1px solid red;

                .header {
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    gap: 10px;

                    .heading {
                        font-size: 30px;
                        font-weight: 500;
                        text-transform: capitalize;

                        span {
                            // color: red;
                            font-weight: 900;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                    }

                    .sub-heading {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .inputs {
                    // border: 1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    flex-direction: column;

                    .input-box {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 5px;
                        margin: 10px;
                        // border: 1px solid red;

                        .label-error {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            label {
                                text-transform: capitalize;
                            }

                            .error {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 5px;
                                background-color: #E74646;
                                padding: 2px 10px;
                                border-radius: 5px;


                                span {
                                    color: white;
                                    text-transform: capitalize;
                                }
                            }

                        }

                        input {
                            width: 96%;
                            padding: 10px;
                        }
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    // border: 1px solid red;
                    flex-direction: column;
                    gap: 20px;

                    button {
                        padding: 12px 5px;
                        width: 100%;
                        border: none;
                        color: white;
                        background-color: black;
                        text-transform: capitalize;
                        cursor: pointer;
                        font-size: 12px;

                        &:hover {
                            background-color: #F0F0F0;

                            color: black;
                        }
                    }

                    .google {
                        background-color: #F0F0F0;
                        color: black;
                    }
                }
            }

        }
    }

}