form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: 1px solid red;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

    button {
        padding: 12px 5px;
        width: 100%;
        border: none;
        color: white;
        background-color: black;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 12px;

        &:hover {
            background-color: #F0F0F0;

            color: black;
        }
    }

    .google {
        background-color: #F0F0F0;
        color: black;
    }
}